h1 {
    text-align: center;
    text-shadow: 2px 2px 5px black;
    
}

/* navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: powderblue;
    display: flex;
}

li {
    flex : 1;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

nav li a:hover{
    background-color: whitesmoke;
}

/* curved box */
.curved-box{
    width: 200px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;

}

body {
    margin: 0;
    font-family: sans-serif;
}

.panel-body {
    width: 450px;
    height: 400px;
    background: #f1f1f1;
    padding : 10px;
    overflow: hidden;
    overflow-y: scroll;
}

