{% extends 'filmfanatics/base.html' %}

{% block title_block %}
    Account
{% endblock %}

{% block body_block %}
{% if user.is_authenticated %}
      <div style="text-align: end; padding: 10px;">
        <a class="btn btn-outline-info" href="{% url 'filmfanatics:logout' %}" role="button">Logout</a>
      </div>
{% endif %}

<div style="text-align: center;">
    <h2 style="font-size: 50px;"> My Account </h2>
</div>



<div class="row justify-content-center" style="background-color:whitesmoke">
  <div class="col-4">
    <h2 style="font-size: 50px;"> <em> {{ user.username }} </em> <br> </h2>
  </div>
  <div class="col-4">

  </div>


<div class="row justify-content-center">
  <div class="col-4">
    {% if user.account.picture %}
      <img src="{{ user.account.picture.url }}" width="240">
    {% endif %}
    <p> My saved films :
    {% if saved_films %}
    {% for saved_film in saved_films %}
    <img class="filmLink" src="{{ saved_film.picture }}" width="120px" height="150px" class="d-block w-100" style="cursor: pointer;text-align: center" alt="{{ saved_film.title }}" data-url="{% url 'filmfanatics:get_film' %}">
    {% endfor %}
    {% endif %}
    </p>

  </div>
  <div class="col-4">

    <p> <strong> Bio : </strong>  <br> {{ user.account.bio }}</p>
  </div>

  <div class="modal fade" id="filmModal" tabindex="-1" role="dialog" aria-labelledby="filmModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">

          <h5 class="modal-title" id="filmModalLabel">Film Title</h5>

          {% if user.is_authenticated %}
          <a id = "reviewButton" class="btn btn-outline-info" role="button" data-url="{% url 'filmfanatics:write_review1' %}">Write a review</a>
          <div class="saveFilm" data-urlcheck="{% url 'filmfanatics:check_film' %}" data-urlsave = "{% url 'filmfanatics:save_film' %}"></div>
          {% endif %}




            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        </div>

        <div class="modal-body">
        <img class="picture"  width="245px" height="245px" class="d-block w-100" style="text-align: center; align: right">
        <br/>
          Views : <p class="views">  </p>
          Director : <p class="director"> </p>
          Cast : <p class="cast"> </p>
          Synopsis : <p class="synopsis"> </p>
          Average Rating : <p><div class="avgRating"></div></p>



          <div class="panel panel-default">
            <div class="panel-body">
                <br>
            </div>
          </div>


        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>



{% endblock %}