{% extends 'filmfanatics/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Contact Us
{% endblock %}

{% block body_block %}

{% if user.is_authenticated %}
      <div style="text-align: end; padding: 10px;">
        <a class="btn btn-outline-info" href="{% url 'filmfanatics:logout' %}" role="button">Logout</a>
      </div>
{% endif %}

<div style="text-align: center;">
    <h2 style="font-size: 50px;"> Contact Us </h2>
</div>

<div style="background-color:#cccccc; text-align:middle; vertical-align: middle; padding:20px 47px;">

    <p>This website was created to let people express their views on all of the movies they watch</p>
    <p><strong>We hope you enjoy it!</strong></p>

    <ul>
        <li>Danny Hockley - 2470314H@student.gla.ac.uk</li>
        <li>Liana Farid - 2483116M@student.gla.ac.uk</li>
    </ul>

</div>

<footer class="footer mt-auto py-3 bg-info">
    <div class="container"> 
      <span class="text-muted">
        
      </span>
    </div> 
  </footer>

{% endblock %}