{% extends 'filmfanatics/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ genre.name }}
{% endblock %}

{% block body_block %}
<h1 style="text-align: center;" >{{ genre.name }}</h1>


<div class="d-flex justify-content-center">
    {% if genre %}
        
        <div class="d-flex flex-column">
            {% for film in films %}
              {% if film %}
              <div class="p-2"> {{ film.title }} </a>
              <br> <img class="filmLink" src="{{ film.picture }}" class="d-block w-100" style="cursor: pointer" alt="{{ film.title }}" data-url="{% url 'filmfanatics:get_film' %}">

            </div>  
              {% endif %}
            {% endfor %}
            {% else %}
               <strong>No films currently in genre.</strong>
      {% endif %}    
    </div>  

 
        <div class="modal fade" id="filmModal" tabindex="-1" role="dialog" aria-labelledby="filmModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                
                <h5 class="modal-title" id="filmModalLabel">Film Title</h5>
              
              </div>
        
              <div class="modal-body">
                {% for film in films %}
                  {% if film %}
                    {{ film.director }}
                  {% endif %}
                {% endfor %}
                
                
                </div>
            </div>
            
        
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                  Close
                </button>
              </div>
            </div>
          </div>   

        
</div>














{% endblock %}