<!DOCTYPE html>
<html>
    <head>
        <title>Filmfanatics</title>
        <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
    </head>

    <body>
        <h1>Film Fanatics</h1>

        <div>
            <nav>
                <ul>
                    <li><a href="/home/">Home</a></li>
                    <li><a href="/contact-us/">Contact us</a></li>
                    <li><a href="/ex1/">Example 1</a></li>
                </ul>
            </nav>
        </div>

        <div class="curved-box">
            <h2 style="text-align: center;">Genre</h2>
        </div>


    </body>


</html>