{% extends 'filmfanatics/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}
<div>
    {% if user.is_authenticated %}
        <h2> <strong> Welcome back {{ user.username }}! </strong></h2>
    {% else %}
    <div style="text-align: end; padding: 25px;">
      <a class="btn btn-outline-info" href="{% url 'filmfanatics:login' %}" role="button">Login</a>
    </div>
    {% endif %}
  </div>


  <div class="container">
    <div class="row align-items-center">
      <div class="col">
          Genre
      </div>
      <div class="col">
        Recently Released
      </div>
      <div class="col">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row align-items-center">
      <div class="col">
            {% if genres %}
            <ul>
                {% for g in genres %}
                    <li> <a href="{% url 'filmfanatics:genre' g.slug %}"> {{ g }} </a> </li>

                {% endfor %}
            </ul>
            {% else %}
                There are no genres available.
            {% endif %}
      </div>

      <div class="col">
        <div id="carouselHome" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
              <div class="carousel-item active">
                  {% with film=recently_released.0 %}
                <img src="{{ film.picture }}" class="d-block w-100" alt="{{ film.title }}">
                    {% endwith %}
              </div>
              <div class="carousel-item">
                  {% with film=recently_released.1 %}
                <img src="{{ film.picture }}" class="d-block w-100" alt="{{ film.title }}">
                    {% endwith %}
              </div>
              <div class="carousel-item">
                  {% with film=recently_released.2 %}
                <img src="{{ film.picture }}" class="d-block w-100" alt="{{ film.title }}">
                    {% endwith %}
              </div>
              <div class="carousel-item">
                  {% with film=recently_released.3 %}
                <img src="{{ film.picture }}" class="d-block w-100" alt="{{ film.title }}">
                    {% endwith %}
              </div>
              <div class="carousel-item">
                  {% with film=recently_released.4 %}
                <img src="{{ film.picture }}" class="d-block w-100" alt="{{ film.title }}">
                    {% endwith %}
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselHome" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselHome" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
      </div>
      <div class="col">
        <button type="button" id="randButton" class="btn btn-primary btn-lg" data-toggle="modal">Feeling Lucky?</button>

      </div>
    </div>
  </div>

  <div class="modal fade" id="randModal" tabindex="-1" role="dialog" aria-labelledby="randModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="randModalLabel">Film Title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        </div>
    </div>

      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

  <script>

    $("#randButton").onclick(function (e) {
        e.preventDefault();
        $.ajax({
            type: 'GET',
            url: "{% url 'filmfanatics:get_random_film' %}",
            success: function (json) {
                // open and change modal
                    var title = json["title"]
                    var director = json["director"]
                    var cast = json["cast"]
                    var picture = json["picture"]
                    var synopsis = json["synopsis"]
                    var release = json["release"]
                    var review_number = json["review_number"]
                    var average_rating = json["average_rating"]
                    var modal = document.getElementById("randModal")
                    modal.find('.modal-title').text(title)
                    modal.find('.modal-body input').val(recipient)
                }
            },
            error: function (response) {
                console.log(response)
            }
        })
    })
</script>
{% endblock %}






