{% extends 'filmfanatics/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login Page
{% endblock %}

{% block body_block %}
<<h1>Film Fanatics</h1>
<form id="login_form" method="post" action="{% url 'filmfanatics:login' %}">
    {% csrf_token %}
    Username: <input type="text" name="username" value="" size="50" />
    <br />
    Password: <input type="password" name="password" value="" size="50" />
    <br />
    <input type="submit" value="submit" />
</form>

<div>
    <h2>Not registered ?</h2>
    <button type="button" class="btn btn-outline-info" href = "filmfanatics:sign_up"> Register</button>

</div>

{% endblock %}