{% extends 'filmfanatics/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
<h1> Register for Film Fanatics</h1>
{% if registered %}
<strong>Thank you for registering</strong>
<a href="{% url 'filmfanatics : home' %}">Return to the homepage.</a><br />
{% else %}
<strong>Register here</strong><br />
<form id="user_form" method="post" action="{% url 'filmfanatics:sign_up' %}"  enctype="multipart/form-data">

    {% csrf_token %}

    {{ user_form.as_p }} 
    {{ profile_form.as_p }}

    <input type="submit" name="submit" value="Register" />
</form>
{% endif %}
{% endblock %}